<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/studentHome.css">
    </head>
    <body>
        <div class="container mt-3">
            <div class="container-fluid text-center bg-dark py-1 header">
                <p class="text-warning heading p-0 m-0">IIITA CMS</p>
            </div>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/student/">HOME</a>
                        </li>
                        <% if(!locals.user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/student/login">LOGIN</a>
                            </li>
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="/student/courses">MY COURSES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/student/courseSelection">COURSE SELECTION</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="/student/search">SEARCH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/student/timeTable">TIME TABLE</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="/student/settings">SETTINGS</a>
                        </li>
                        <% if(locals.user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/student/destroy-session">LOGOUT</a>
                            </li>   
                        <% } %>      
                    </ul>
                </div>  
            </nav>
            <div class="container-fluid box">
                <div class="announcement-header">
                    Features:
                </div>
                <div class="announcement-box">
                    <ul>
                        <li>
                            Course Information Page includes details like Professor Name,days,time,semester and basic introduction about the course.
                        </li>
                        <li>
                            Students can choose and drop courses according to their choice.
                        </li>
                        <li>
                            Allowed to Update the Password.
                        </li>
                        <li>
                            Time table generator which shows all the subjects being taught on a particular day and its timing.
                        </li>
                        <li>
                            Search information by department, faculty, and courses.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>